<!-- <p id="notice"><%= notice %></p>

<h1>Listing Collections</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <p><%= collection.name%></p>
        <td><%= link_to 'Show', collection %></td>
        <td><%= link_to 'Edit', edit_collection_path(collection) %></td>
        <td><%= link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_collection_path do %>
    <span class="glyphicon glyphicon-plus"></span> New Collections
<% end %>

 -->

 <%= render 'root/collections' unless user_signed_in? %>

<%= link_to new_collection_path do %>
    <div class="btn btn-default">
    New Collection
    </div>
<% end %>

<div id="collections" class="transitions-enabled">
<% @collections.each do |collection| %>
      <div class="panel-body">
          <h4><%= collection.name %></h4><br/>
          <div class="actions">
            <%= link_to add_books_collection_path(collection) do %>
            <span class="glyphicon glyphicon-plus"></span>
            Add books
            <% end %>
            <%= link_to collection_path(collection) do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            Show
            <% end %>
            <%= link_to edit_collection_path(collection) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
            <% end %>
            <%= link_to collection, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            Delete
            <% end %>
          </div>
      </div>
    <% end %>
</div>

<div class="center" style="clear:both;">
</div>
