<%= render 'pages/home' unless user_signed_in? %>

<%= link_to new_book_path do %>
    <div class="btn btn-default">
    New Book
    </div>
<% end %>

<div id="books" class="transitions-enabled">
<% @books.each do |book| %>
  <div class="box panel panel-default" style="float:left;">
      <%= link_to image_tag(book.image.url(:medium)), book %>
      <div class="panel-body">
        <%= book.name %><br/>
        <strong><%= book.user.name if book.user %></strong>
       <% if book.user == current_user %>
          <div class="actions">
        <%= link_to edit_book_path(book) do %>
        <span class="glyphicon glyphicon-edit"></span>
        Edit
        <% end %>
        <%= link_to book, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span class="glyphicon glyphicon-trash"></span>
        Delete
        <% end %>
          <%= link_to like_book_path(book), method: :put do %>
         <span class="glyphicon glyphicon-heart"></span>
        Like
         <%= book.get_upvotes.size %>
        <% end %>
      </div>
      <% end %>
    </div>
    </div>
    <% end %>
</div>

<div class="center" style="clear:both;">
<%= will_paginate @books, renderer: BootstrapPagination::Rails %>
</div>
